@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 400px){ /* Para despositivos de 400px */

header
{
    background-color: black;
    color: white;
    height: 170px;
}

header > h1
{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
}

header > p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

nav
{
    text-align: center;
}

nav > a
{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 2px;
}

/**/

main
{
    background-color: rgb(177, 164, 115);
    width: 80%;
    margin: auto auto 20px auto;
    border-radius: 0px 0px 10px 10px;
}

main > h2
{
    padding: 5px 10px;
}

main > p
{
    padding: 5px 10px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 10px;
    font-size: 20px;
    text-align: justify;
    display: inline-block;
}

main > div.destaque
{
    font-weight: bold;
    display: inline-block;
}

main > div.video
{
    display: block;
    text-align: center;
    padding: 5px 0px 0px 0px;
}

/**/

table > caption
{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
}

table
{
    width: 150px;
    margin: auto;
    padding: 10px;
    border-collapse: collapse;
}

th
{
    background-color: gray;
    text-align: center;
    border: 1px solid black;
}

td
{
    background-color: lightgray;
    text-align: center;
    border: 1px solid black;
}

.bom
{
    background-color: rgba(0, 255, 0, 0.555);
}

.medio
{
    background-color: rgba(157, 255, 0, 0.753);
}

.meiobom
{
    background-color: rgba(102, 255, 0, 0.678);
}

footer
{
    background-color: black;
    color: white;
}

footer > p
{
    text-align: center;
    padding: 10px;
}

footer > a
{
    color: blue;
    text-decoration: none;
}

footer > a:hover
{
    color: rgb(0, 0, 141);
    text-decoration: underline;
}

}