@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgb(255, 255, 255);
}

header
{
    background-color: #242F73;
    color: white;
    height: 135px;
}

header > h1
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
}

header > p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 2px;
}

nav
{
    margin-left: 10px;
    margin-top: 10px;
    min-width: 175px;
    max-width: 575px;
    padding: 0px 0px 10px 0px;
}

nav > a
{
    color: white;
    background-color: #7682ce;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

nav > a:hover
{
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: rgb(4, 0, 255);
    text-decoration: underline;
}

main
{
    background-color: rgba(112, 163, 16, 0.747);
    color: black;
    width: 60vw;
    padding: 20px;
    margin: auto auto 100px auto;
    border-radius: 0px 0px 10px 10px;
    min-width: 775px;
}

main > h2
{
    background-image: linear-gradient(90deg, rgba(0, 255, 115, 0.808), transparent);
    padding: 4px 0px;
    font-size: 1.8em;
}

main > p
{
    padding: 10px 0px;
}

footer
{
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    bottom: -695vh;
}





table
{
    border-collapse: collapse;
    background-color: white;
    margin: 20px auto;
}

thead, tfoot > tr > th
{
    background-color: gray;
}

th, td
{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.bom
{
    background-color: rgba(0, 255, 0, 0.747);
}

.medio
{
    background-color: rgba(187, 255, 0, 0.651);
}

.meiobom
{
    background-color: rgba(123, 255, 0, 0.658);
}